@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A shop management system is an essential tool for maximizing your effectiveness and making your auto repair business run smoothly. The right shop management software can help you improve your internal communication, save you time, and help you understand which areas are performing efficiently or may need attention, so you can make important business decisions that lead to improved productivity and profitability.

.</p>
