@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    If any problem contact with us.<br />
    Address : Dhaka,Bangladesh.<br />
    <abbr title="Phone">P:</abbr>
    01764016908
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:akader080@gmail.com">asad811@diu.edu.bd</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
</address>