@{
    ViewBag.Title = "Home Page";
}

<h2>@Session["email"]</h2>
<div>
    <img style="height:600px ;width:1150px" src="~/Image/P1.jpg" />
    <img style="height:600px ;width:1150px" src="~/Image/p2.jpg" />
    <img style="height:600px ;width:1150px" src="~/Image/p3.jpg" />
    <img style="height:600px ;width:1150px" src="~/Image/p4.jpg" />
    <img style="height:600px ;width:1150px" src="~/Image/p5.jpg" />
    <img style="height:600px ;width:1150px" src="~/Image/p6.jpg" />
    <img style="height:600px ;width:1150px" src="~/Image/p7.jpg" />

</div>
<div class="jumbotron">
   <!--<h1>ASP.NET</h1>
    <p class="lead">.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>--> 
</div>

<div class="row">
    <div class="col-md-4">
       <!--<h2>Getting started</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>--> 
    </div>
    <div class="col-md-4">
      <!--<h2>Get more libraries</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>--> 
    </div>
    <div class="col-md-4">
      <!--<h2>Web Hosting</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>--> 
    </div>
</div>